.contact-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contact-section {
  display: flex;
  align-items: center;
  margin: 10px; /* Adjust margin for spacing between sections */
}



.contact-divider {
  border: 1px solid #fff;
  height: 50px; /* Adjust the height of the divider if needed */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .contact-container {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .contact-section {
    margin: 5px; /* Reduce margin for spacing between sections */
  }

  .contact-section i {
    font-size: 1.5rem; /* Reduce font size for icons on smaller screens */
  }

  .contact-section p {
    font-size: 0.8rem; /* Reduce font size for text on smaller screens */
  }
}
